#banner_slider {
    position: relative;
  }
  #banner_slider .slider_headings {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  #banner_slider .slider_headings h2 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 3.8rem;
    padding: 10px 0px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px;
  }
  #banner_slider .slider_headings p {
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
  }
  #banner_slider .slider_headings .trip_links {
    position: relative;
    padding-top: 20px;
  }
  #banner_slider .slider_headings .trip_links ul li {
    display: inline-block;
    position: relative;
    margin: auto 10px;
  }
  #banner_slider .slider_headings .trip_links ul li a {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 50px;
    padding: 15px 20px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0px 0px 5px 0px #fff;
    border-radius: 3px;
  }