@media (min-width: 1200px) {
  nav .btn-getnow {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .contact_main .wrapper {
    width: 270px;
  }
}

@media (min-width: 992px) {
  nav .btn-getnow {
    width: 150px;
  }
}
@media (min-width: 768px) {
  nav .btn-getnow {
    height: 40px;
    line-height: 31px;
    margin-top: 21.5px;
  }
}
@media (min-width: 360px) {
  nav .btn-getnow {
    width: 120px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  li .btn-getnow{
    display: none;
  }
  .nav_typo ul li{
    margin: 0 8px;
  }
  .ipad_container{
    width: 100% !important;
    padding: 0px !important;
  }
  #header-sroll.img_s_none a img.logo_stl_s {
    width: 80px;
    top: 20px;
    left: 45px;
  }
  #home_section img.img-header-lg {
    right: -30px;
  }
  #owl-demo .item img {
    display: block;
    width: 160px;
  }
  .how_it_works .row [class^="col-"].step-1 img,
  .how_it_works .row [class^="col-"].step-1 .step-desc,
  .how_it_works .row [class^="col-"].step-3 img,
  .how_it_works .row [class^="col-"].step-3 .step-desc {
    width: 250px;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 12px;
  }
  .nav_typo ul li a {
    margin-top: 24px;
    transition: 0.3s linear;
  }
  nav .btn-getnow {
    height: 35px;
    font-size: 12px;
    line-height: 26px;
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .how_it_works .row [class^="col-"].step-2 .step-desc span::before,
  .how_it_works .row [class^="col-"].step-2 .step-desc span::after {
    width: 240px;
  }

  #home_section button {
    line-height: 5px;
    font-size: 14px;
    width: 150px;
  }
  #home_section h1 {
    font-size: 42px;
  }
  #home_section p {
    font-size: 14px;
  }
  header button {
    line-height: 5px;
  }
  .how_it_works .row [class^="col-"] img {
    height: 452px;
  }
}
@media (max-width: 767px) {
  #home_section .container [class^="col-"]:first-child {
    padding-top: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  #home_section .container [class^="col-"]:first-child {
    padding-top: 45px;
  }
  #home_section button {
    font-size: 10px;
    width: 110px;
    padding: 10px 0;
  }
  #home_section button:last-child {
    margin-left: 5px;
  }
  #home_section img.img-header-lg {
    display: block;
    margin: 0 auto;
    width: 165px;
    left: 0;
    right: 0;
    top: 0;
  }
  #home_section img.img-header-sm {
    display: block;
    margin: 0 auto;
    width: 120px;
    left: 0;
    right: 60px;
    top: 85px;
  }
  #header-sroll.text_stl li a {
    font-size: 16px;
  }
  #home_section .container [class^="col-"].col-header-img {
    height: 350px;
  }
}

/* how it works section */

@media (max-width: 1199px) {
  .how_it_works .row [class^="col-"] .step-desc h4 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .how_it_works .row [class^="col-"].step-1 img,
  .how_it_works .row [class^="col-"].step-1 .step-desc,
  .how_it_works .row [class^="col-"].step-3 img,
  .how_it_works .row [class^="col-"].step-3 .step-desc {
    width: 262px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .d-none{
    display: none;
  }

  button.contact_btn{
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
 
 
  .btn_gap{
    padding-bottom: 20px;
  }
  .scroll-top {
    right: 15px;
  }
  .owl-nav, .owl-dots{
    display: none;
  }
  #header-sroll.text_stl li a{
    margin-bottom: 20px;
  }
  #overview{
margin-top: 130px;
  }
  .overview_img img{
    height: auto;
  }
  #home_section button.left_btn:first-child{
    margin-bottom: 20px;
  }
  #home_section button.no_margin{
    margin-left: 0px !important;
  }
  footer .footer_bg {
    padding: 20px;
  }
  .footer_form {
    margin-top: 30px;
}
  .logo_stl_s{
    z-index: -1;
  }
  .fil_btn_stl {
    display: none;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 10px !important;
    height: 10px !important;
  }
  #carousel .owl-item {
    width: 200px !important;
  }
  .how_it_works h2 {
    font-size: 22px;
  }
  #overview h2 {
    font-size: 22px;
  }

  #owl-demo .item img {
    width: 60px;
  }
  .fil_btn_stl button {
    margin: 5px 25px;
  }

  .how_it_works .subheader {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .how_it_works .row [class^="col-"] img {
    padding: 0;
    height: auto;
    width: auto;
    max-width: 100px;
    margin: 0 auto 15px;
  }
  .how_it_works .row [class^="col-"] .step-desc {
    margin: 0 auto 30px;
    max-width: 480px;
  }
  /* menu resposive css */
  .navbar-nav {
    background: #333333 !important;
  }
  .how_it_works .row [class^="col-"].step-2 .step-desc span::before,
  .how_it_works .row [class^="col-"].step-2 .step-desc span::after {
    display: none;
  }
  #overview .subheader {
    text-align: center;
  }
  nav .btn-getnow {
    display: none;
  }
}
/* @media (max-width: 767px) {


 
} */

/********************************************* aboutUss section starts ************************************************/
@media (min-width: 992px) {
  #aboutUs_section .feat-top-left {
    top: 108px;
    left: -1px;
    position: absolute;
    max-width: 480px;
    margin: 0 auto 15px;
  }
}

/* @media (min-width: 992px) {
  #aboutUs_section [class^="col-"]:not(.container-acting) {
    float: none;
    position: absolute;
  }
} */

@media (min-width: 992px) {
  #aboutUs_section .feat-top-right {
    top: -2px;
    right: 6px;
    position: absolute;
    max-width: 480px;
    margin: 0 auto 15px;
  }
}
@media (min-width: 992px) {
  #aboutUs_section .feat-bottom-left {
    bottom: -45px;
    left: 42px;
    position: absolute;
    max-width: 480px;
    margin: 0 auto 15px;
  }
}
@media (min-width: 992px) {
  #aboutUs_section .feat-bottom-right {
    bottom: 70px;
    right: 33px;
    position: absolute;
    max-width: 480px;
    margin: 0 auto 15px;
  }
}
