/*************************************saif's custom scroll header effect css ********************************************/
#header-sroll {
  position: fixed;
  height: 100px;
  background: none !important;
  left: 0;
  top: 0;
  font-size: 14px;
  float: left;
  width: 100%;
  z-index: 999;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#header-sroll {
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#header-sroll.small {
  height: 85px;
  background: rgba(0, 0, 0, 0.8) !important;
}

.navbar-bran {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
#header-sroll.img_f_none a img.logo_stl {
  opacity: 0;
  width: 85px;
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.img_s_none a img {
  opacity: 0;
  position: absolute;
}
#header-sroll.img_s_none a img.logo_stl_s {
  width: 100px;
  opacity: 1;
  top: 15px;
  position: absolute;
  -ms-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

#header-sroll.text_stl li a {
  font-size: 12px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
