/********¯\_(ツ)_/¯********* ♥ ♥ ♥ ***************** saif's code starts*******¯\_(ツ)_/¯******* ♥ ♥ ♥ *********!!! */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
code,
del,
sub,
i,
dl,
ul,
li,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-family: Montserrat,sans-serif !important;
  background: #f2f2f2;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
button {
  border: none;
  background: none;
  outline: none;
  text-transform: uppercase;
  padding: 3px 10px;
  outline: none !important;
}

li {
  list-style: none;
}
img {
  display: block;
  margin: 0 auto;
}

a:hover {
  text-decoration: none !important;
}

#home_section {
  padding-top: 70px;
  color: #000;
}

/* overview area */
#overview {
  padding-bottom: 50px;
  padding-top: 80px;
  color: #000;
}
.no-padding{
  padding: 0 !important;
}

#overview.pb_0 {
  padding-bottom: 0px;
}
#overview.pt_10 {
  padding-top: 10px;
}
.overview_img img{
  display: inline-block;
  height: 342px;
  border-radius: 50%;
  border: 6px solid #3ab54a;
  overflow: hidden;
  max-width: 100%;

}
.overview_heading h2{
  font-family: roboto,sans-serif;
    font-size: 36px;
    color: #333;
    line-height: 46px;
    font-weight: 400;
}
.overview_heading p{
  font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 0px;
    color: #333;
}

.sec_para{
  padding: 30px 0px;
}

.how_it_works {
  position: relative;
  /* z-index: 9; */
  padding: 140px 0;
  text-align: center;
  background-image: linear-gradient(to right top, #0f1f2f, #00435c, #006a75, #00916e, #3ab54a);
  height: 100%;
}

.how_it_works h2 {
  margin-top: 14px;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 23px;
}
.how_it_works .hr {
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  background-image: url(../img/overview_after_white.png);
}
.how_it_works .subheader {
  font-weight: 400;
  color: white;
  font-size: 16px;
  line-height: 28px;
  max-width: 660px;
  padding: 0 15px;
  margin: 19px auto 103px;
}
.how_it_works p {
  line-height: 1.86;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin-bottom: 0;
}

.how_it_works .row [class^="col-"].step-1 img,
.how_it_works .row [class^="col-"].step-1 .step-desc {
  margin-right: auto;
}
.how_it_works .row [class^="col-"].step-3 img,
.how_it_works .row [class^="col-"].step-3 .step-desc {
  margin-left: auto;
}
.how_it_works .row [class^="col-"] img {
  display: block;
  height: 250px;
  padding: 91px 0 57px;
  margin-bottom: 42px;
}

.how_it_works .row [class^="col-"] .step-desc span {
  display: block;
  margin: 0 auto 22px;
  height: 45px;
  width: 45px;
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 43px;
  font-weight: 700;
  font-size: 14px;
}
.how_it_works .row [class^="col-"] .step-desc hr {
  max-width: 30px;
  border-top-width: 2px;
  margin: 15px auto 10px;
}
.how_it_works .row [class^="col-"] .step-desc h4 {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}
.how_it_works .row [class^="col-"] .step-desc p {
  line-height: 1.85714;
  font-weight: 400;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.how_it_works .row [class^="col-"].step-2 .step-desc span {
  position: relative;
}
.how_it_works .row [class^="col-"].step-2 .step-desc span::before {
  right: calc(100% + 1px);
}
.how_it_works .row [class^="col-"].step-2 .step-desc span::after {
  left: calc(100% + 1px);
}
.how_it_works .row [class^="col-"].step-2 .step-desc span::before,
.how_it_works .row [class^="col-"].step-2 .step-desc span::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 1px);
  background-color: rgba(255, 255, 255, 0.6);
  height: 1px;
  width: 297px;
}
.how_it_works .row [class^="col-"].step-2 {
  text-align: center;
  padding: 0;
}
.how_it_works .row [class^="col-"].step-2 img {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.how_it_works .row [class^="col-"] img {
  display: block;
  height: 250px;
  padding: 91px 0 57px;
  margin-bottom: 42px;
}
#aboutUs_section {
  color: #000;
  padding-top: 25px;
}
#aboutUs_section h2.about_us_heading{
  margin-top: 14px;
    text-align: center;
    color: #0f1f2f;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 23px;
}
#aboutUs_section p.subheader{
  font-weight: 400;
  color: #0f1f2f;
  font-size: 16px;
  line-height: 28px;
  max-width: auto;
  padding: 0 15px;
  margin: 19px auto 50px;
  text-align: center;
}
#aboutUs_section .card.custom_shadow{
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#aboutUs_section .card_text h4{
  text-align: center;
    font-size: 22px;
    color: #0f1f2f;
    font-weight: 600;
}
#aboutUs_section .card_text p{
  letter-spacing: 1px;
  text-align: center;
  font-size: 14px;
  color: #0f1f2f;
  line-height: 20px;
}
#aboutUs_section .aboutUs_hr{
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  background-image: url(../img/overview_after_green.png);
}

.parallax { 
  background-image: url("../img/meeting-228.jpg"); 
  min-height: 300px;  
  background-attachment: fixed; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

#teastimonial {
  padding-top: 70px;
  color: #000;
}
#contact_section {
  padding-top: 75px;
  padding-bottom: 70px;
  color: #000;
}
#contact_section.bg-gradient-horizontal {
  background-image: -moz-linear-gradient(90deg, rgb(62, 176, 96) 0%, rgb(15, 31, 47)  100%);
  background-image: -webkit-linear-gradient(90deg, rgb(62, 176, 96) 0%, rgb(15, 31, 47)  100%);
  background-image: -ms-linear-gradient(90deg, rgb(62, 176, 96) 0%, rgb(15, 31, 47)  100%);
}
#contact_section.bg-img {
  position: relative;
  z-index: 0;
}
#contact_section .bg-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact_section .bg-img {
  background-image: url(https://droitthemes.com/wp/faded/v1/wp-content/uploads/2016/12/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.contact_main h2 {
  margin-top: 14px;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 23px;
}
.contact_main .hr {
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  background-image: url(../img/overview_after_white.png);
}
.contact_main .subheader {
  font-weight: 400;
  color: white;
  font-size: 16px;
  line-height: 28px;
  max-width: 660px;
  padding: 0 15px;
  margin: 19px auto 103px;
  text-align: center;
}
.contact_main .wrapper {
  background-color: white;
  color: #666666;
  width: 100%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.contact_main .wrapper .wrapper-img img {
  width: 100%;
}
.contact_main .wrapper h5 {
  margin: 0px;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #606060;
  text-align: center;
}
.contact_main .wrapper h6 {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.contact_main .wrapper hr {
  margin: 9px 0px 14px;
  padding: 0px;
}
.contact_main .wrapper .social {
  padding-bottom: 14px;
  text-align: center;
}

.contact_main .wrapper a i {
  position: relative;
  z-index: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 8px;
  font-size: 16px;
  background-color: #ffffff;
  color: #b2b2b2;
}
.contact_main .wrapper a i:hover {
  background-image: -moz-linear-gradient(0deg, #4776e6 0%, #8e54e9 100%);
  background-image: -webkit-linear-gradient(0deg, #4776e6 0%, #8e54e9 100%);
  background-image: -ms-linear-gradient(0deg, #4776e6 0%, #8e54e9 100%);
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*******************꧁꧂ ************************* diaognal header css ************꧁꧂ *******************꧁꧂ ***************/
/* header {
  position: relative;
  height: 800px;
  overflow: hidden;
} */

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 645px;
  background: linear-gradient(to right, #0f1f2f 45%, #0f1f2f 100%);
  /* background: #ff962e; */
  /* background-image: linear-gradient(to right top, #e22140, #df2744, #dc2c48, #d8314c, #d5354f); */
  /* background-image: -moz-linear-gradient(90deg, rgb(178, 69, 146) 0%, rgb(241, 95, 121) 100%) !important;
  background-image: -webkit-linear-gradient(90deg, rgb(178, 69, 146) 0%, rgb(241, 95, 121) 100%) !important;
  background-image: -ms-linear-gradient(90deg, rgb(178, 69, 146) 0%, rgb(241, 95, 121) 100%) !important; */
  transform: skewY(-6deg);
  transform-origin: top left;
}

/* first section style */
/* #home_section {
  margin-top: 100px;
} */

.logo_stl {
  width: 160px;
  height: auto;
  transition: 0.3s linear;
}

/* .logo_stl_s {
  width: 130px;
  height: auto;
  transition: 0.3s linear;
} */

/* loader css */

#loading {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  background: linear-gradient(to right, #0f1f2f 45%, #0f1f2f 100%);
  /* background: rgb(221, 97, 97); */
  /* background-image: linear-gradient(to right top, #e22140, #df2744, #dc2c48, #d8314c, #d5354f); */
  /* background-image: -moz-linear-gradient(90deg, rgb(178, 69, 146) 0%, rgb(241, 95, 121) 100%) !important;
  background-image: -webkit-linear-gradient(90deg, rgb(178, 69, 146) 0%, rgb(241, 95, 121) 100%) !important;
  background-image: -ms-linear-gradient(90deg, rgb(178, 69, 146) 0%, rgb(241, 95, 121) 100%) !important; */
  z-index: 9999;
}

@keyframes zoominoutsingleaboutUsd {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.cardcontainer img {
  animation: zoominoutsingleaboutUsd 1.2s infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
.nav_typo ul li a {
  color: #fff !important;
  letter-spacing: 1px;
  margin-top: 25px;
}
.nav_typo ul li {
  margin: 0 12px;
}
#home_section .container [class^="col-"]:first-child {
  padding-top: 50px;
}

#home_section .container [class^="col-"].col-header-img {
  height: 530px;
}
#home_section .heading_area{
  margin-top: 70px;
}
#home_section .heading_area p {
  margin-bottom: 35px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.667;
  font-weight: normal;
  font-size: 14px;
}
.heading_area button:hover {
  background: #fff !important;
  color: #3eb060 !important;
  transition: 0.3s linear !important;
  border: 1px solid #fff !important;
}
/* #home_section img {
  position: absolute;
} */
#home_section img.img-header-lg {
  right: -40px;
  top: 50px;
  z-index: 20;
}
#home_section img.img-header-sm {
  right: 95px;
  top: 280px;
  z-index: 20;
}
nav .btn-getnow {
  text-align: center;
  float: right;
  height: 35px;
  width: 90px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid white;
  color: #fff;
  line-height: 31px;
  vertical-align: middle;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 12.5px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin-right: 15px;
}
#home_section button.left_btn.left_btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  line-height: 14px;
  vertical-align: middle;
  font-weight: 700;
  font-size: 14px;
  color: #3ab54a;
  padding: 12px 0;
  width: 150px;
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#home_section button.left_btn:last-child {
  margin-left: 18px;
}
#home_section button.left_btn.btn-white:hover {
  background-color: transparent;
  color: #ccc;
}
.right-padding {
  padding-right: 0px;
}
header img.img-header-sm {
  right: 62px;
  top: 251px;
  z-index: 20;
}
header img.img-header-lg {
  right: -56px;
  top: 63px;
  z-index: 20;
}

.heading_area h1 {
  margin-bottom: 30px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #fff;
  text-shadow: 2px 1px 1px #fff;
  font-size: 34px;
  line-height: 1.167;
}
.heading_area p {
  margin-bottom: 50px;
  text-align: left;
  line-height: 1.667;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}

.navbar-inverse {
  border-color: transparent !important;
  /* background-color: #df2744 !important; */
}
.navbar-collapse {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* navbar custom css */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent !important;
  border-bottom: 2px solid #fff !important;
  transition: 0.2s linear;
}

.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
  border-bottom: 2px solid transparent !important;
  padding: 5px 0px !important;
  font-size: 16px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent !important;
}
.navbar-brand {
  padding: 0 !important;
}
/* .navbar {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
} */

.scroll-top {
  bottom: 50px;
  display: none;
  height: 50px;
  position: fixed;
  right: 35px;
  width: 50px;
  padding: 12px;
  z-index: 9999 !important;
  border-radius: 100% !important;
  background: #3eb060!important;
  border: 2px solid #0f1f2f !important;
  
}
.scroll-top i {
  display: inline-block;
  color: #ffffff;
}

.scroll_btn .btn-primary:hover {
  color: #fff;
  transition: 0.3s;
  border-color: #3eb060!important;
}

/************꧁꧂ ********************************* aboutUss section starts *****************꧁꧂ *******************************/
/* #aboutUs_section [class^="col-"]:not(.container-acting) {
  max-width: 480px;
  margin: 0 auto 15px;
} */


#aboutUs_section .ficons {
  display: inline-block;
  position: relative;
  font-size: 26px;
  color: #4776e6;
  vertical-align: middle;
  line-height: 64px;
  height: 64px;
  width: 64px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #4776e6;
  background-image: -moz-linear-gradient(0deg, #4776e6 0%, #8e54e9 100%);
  background-image: -webkit-linear-gradient(0deg, #4776e6 0%, #8e54e9 100%);
  background-image: -ms-linear-gradient(0deg, #4776e6 0%, #8e54e9 100%);
}

/******************꧁꧂ ********************** screenshots image filtering style *********************꧁꧂ ********************************/

.active_m {
  background-color: #ffffff;
  color: #3eb060;
  border: 2px solid #3eb060 !important;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 20px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fil_btn_stl {
  text-align: center;
  padding-bottom: 30px;
}
.fil_btn_stl button {
  margin: auto 15px;
  font-size: 12px;
  background-color: #ffffff;
  color: #3ab54a;
  padding: 5px 15px;
  text-transform: uppercase;
  border: 2px solid transparent;
  -ms-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

/*****(っ◔◡◔)っ**************** custom owl slider ********(っ◔◡◔)っ*******************/
#carousel .item {
  margin: 3px;
}
#carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}
#carousel .owl-item {
  width: auto !important;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #3eb060 !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px !important;
  height: 15px !important;
}

#caro .item {
  margin: 3px;
}
#caro .item img {
  display: block;
  width: 100%;
  height: auto;
}



#screenshot_section h2.portfolio_heading {
  margin-top: 30px;
  text-align: center;
  color: #0f1f2f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 23px;
}
#screenshot_section p.subheader{
  font-weight: 400;
  color: #0f1f2f;
  font-size: 16px;
  line-height: 28px;
  max-width: auto;
  padding: 0 15px;
  margin: 19px auto 50px;
  text-align: center;
}
#screenshot_section .portfolio_hr{
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  background-image: url(../img/overview_after_green.png);
}
#contact_section .marginB30{
  margin-bottom: 30px;
}

#contact_form input{
  border-radius: 0;
  border: 2px solid #ffffff;
  height: 50px;
  box-shadow: 0px 0px 3px #fff;
  background: transparent;
}

#contact_form textarea{
  border-radius: 0;
  border: 2px solid #ffffff; 
  box-shadow: 0px 0px 3px #fff;
  background: transparent;
  height: 100px;
}
#contact_form label{
color: #ffffff;
font-size: 18px;
}
#contact_form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}
.extra_padding{
  padding: 50px 0px 0px;
}

.mail_img img{
  width: 180px;
  margin: auto;
  padding: 25px 0px;
}

button.contact_btn{
  height: 50px;
  margin: auto 8px;
  margin-top: 10px;
  color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 0px;
    width: 150px;
}

footer .footer_bg{
  background: #00435c !important;
  padding: 50px;
  z-index: -1;
}

footer h2{
  color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

footer li{
color: #ffffff;
margin: 20px 0px;
}

.footer_bg span i{
  font-size: 16px;
  padding-right: 8px;

}
.social_icon{
  margin-top: 30px;
  margin-left: 0px;
}
.social_icon ul li{
display: inline;
margin: auto 10px;
    margin-left: 0;
}
.social_icon ul li i{
  font-size: 22px;
    border: 1px solid;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 5px;
}
.footer_form{
  margin-top: 50px;
}
.footer_form button{
  position: absolute;
    top: 0;
    background: #3ab54a;
    border-color:#3eb060;
    right: 0;
    height: 40px;
    border-radius: 0;
}

.footer_form input{
  border-radius: 0px;
  height: 40px;
}